[user]
  name = Yury Lebedev
  email = lebedev.yurii@gmail.com
  signingkey = 0xF76D2629DADC18B6

[credential]
  helper = osxkeychain

[push]
  default = simple

[core]
  editor = nvim
  excludesfile = ~/.gitignore

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1

[alias]
  # List contributors with number of commits
  contributors = shortlog --summary --numbered

[commit]
  template = ~/.gitmessage
  gpgsign = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[diff "sopsdiffer"]
  textconv = sops -d

[gpg]
  program = /usr/local/bin/gpg
[safe]
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/terraform-provider-hirefire
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/heroku-log-drain
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/importer
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/deals_service
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/car-data-app
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/car-data-utils
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/quotes_site
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/dealers_site
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/research_site/
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/research_site
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/flatmin
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/dashy
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/ftp-transfer-auth/
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/ftp-transfer-auth
	directory = /Users/yury.lebedev@carwow.de/projects/carwow/dev-environment
