[user]
  name = Yury Lebedev
  email = lebedev.yurii@gmail.com
	signingkey = 0xF76D2629DADC18B6

[credential]
  helper = osxkeychain

[push]
  default = simple

[core]
  editor = nvim
	excludesfile = ~/.gitignore

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1

[alias]
  # List contributors with number of commits
  contributors = shortlog --summary --numbered

[commit]
  template = ~/.gitmessage

[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
