[core]
  editor = nvim
	hooksPath = /usr/local/dd/global_hooks
  ; excludesfile = ~/.gitignore

[user]
	name = Yury Lebedev
	email = yury.lebedev@datadoghq.com
	signingkey = C7CCFFBE9010B7A24A61ACCE8F38830C077E5B8B

[commit]
	gpgsign = true
  verbose = true

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
